<h1>Profile | <%= profile_user.name %></h1>

<img src="<%= user.avatar %>" alt="<%= user.name %>" width="100">

<% if(user.id == profile_user.id ) { %>
    <!-- if the user matches show the update form -->

    <form action="/users/update/<%= profile_user.id %>" method="post" enctype="multipart/form-data">
        <label for="name">Update Your Name: </label>
        <input type="text" name="name" id="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
        <label for="email">Update Your Email: </label>
        <input type="email" name="email" id="email" placeholder="Your Name" value="<%= profile_user.email %>" required>
        <label for="avatar">Profile Image: </label>
        <input type="file" name="avatar" id="avatar" placeholder="Profile Image">
        <input type="submit" value="Update">
    </form>

<% } else { %> 
    <!-- else show the profile details -->
    <label for="profile-name">Name: </label>
    <p id="profile-name"><%= profile_user.name%></p>
    <label for="profile-email">Email: </label>
    <p id="profile-email"><%= profile_user.email%></p>
<% } %>